<% provide(:title, "Home") %>
<p>
<p id="notice"><%= notice %></p>

<h1>Bem-vindo ao Senses!</h1>
<br>

<% @posts.each do |post| %>

<h2><%= link_to post.title, post%></h2>
<% if logged_in? %>
<%= link_to 'Edit', edit_post_path(post) %></td>
<%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<br>
<%= post.body.html_safe %></td>
<br><hline><br>

<%end%>

<br>
<% if logged_in? %>
<%= link_to 'New post', new_post_path %>
<% end %>
</p>