<p id="notice"><%= notice %></p>

<p>
  <h1><%= @post.title %></h1>
</p>

<p>
  <%= @post.body.html_safe %>
</p>

<hline>

<h3>Comments</h3>
<div id="comments">
	<%= render :partial => @post.comments.reverse %>
</div>

<tr class="post">
  <td><%= @post.title %></td>
  <td><%= @post.body %></td>
  <td><%= link_to 'Show', @post %></td>
</tr>

<% if logged_in? %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', posts_path %>
