<!DOCTYPE html>
<html>
	<head>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title><%= yield(:title) %> | Senses</title>
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	    <%= csrf_meta_tags %>
	    <!--[if lt IE 9]>
	      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
	      </script>
	    <![endif]-->
	</head>
	<body>
	    <header class="navbar navbar-fixed-top navbar-inverse">
	      <div class="container">
	        <nav>
	          <ul class="nav navbar-nav navbar-right">
	          	<li><%= link_to "Home", root_path %></li>
	            <li><%= link_to "Sobre", '#' %></li>
	            <li><%= link_to "Projetos", '#' %></li>
	            <li><%= link_to "Equipe", '#' %></li>
	            <li><%= link_to "Contato", '#' %></li>
	            <li><%= link_to "Blog", posts_path %></li>
	            <% if logged_in? %>
				<li><%= link_to "Sair", logout_path %></li>
	            <% else %>
				<li><%= link_to "Entrar", login_path %></li>
	            <% end %>
	          </ul>
	        </nav>
	      </div>
	    </header>

	    <div class="container">
		<%= yield %>
		</div>
	</body>
</html>
